@media (max-width: 480px)
  input, textarea, .btn_send
    width: 300px
  .top_mnu
    text-align: center
  .header
    display: flex
    text-align: center
    flex-direction: column
    justify-content: center
    align-items: center
    h1
      font-size: 30px
    &__text p
      padding: 0 10%
      font-size: 18px
    &__top_nav
     display: none
  .nav
    display: block
  .slick-arrow
    margin-top: 67px
