@import 'reset'
@import 'fonts'
@import 'libs'


body
  font-weight: normal
  font-family: "RobotoLight", sans-serif
  font-size: 14px
  min-width: 320px
  position: relative
  line-height: 1.42857
  -webkit-font-smoothing: antialised
  

input
  &::-webkit-input-placeholder, 
  &:-moz-placeholder
    color: white

textarea
  &::-webkit-input-placeholder, 
  &:-moz-placeholder
    color: white

section, footer
  text-align: center
  padding: 50px 0 0 0

ul
  list-style: none

.hidden
  display: none


// header

.header
  padding-top: 50px
  background: url("../img/header.png") no-repeat top center
  background-attachment: fixed
  background-size: cover
  &__top
    display: flex
    align-items: center
    &_logo
      float: left
      a   
        color: #ffffff
        font-size: 48px
        line-height: 70px
        text-decoration: none
        padding: 0
    &_nav
      display: flex
      align-items: center
      justify-content: flex-end
      ul li
        display: inline-block
        margin-left: 20px
        font-size: 15px
        a
          color: white
          font-size: 16px
          font-weight: 700
          line-height: 28px
  &__text
    display: flex
    height: 550px
    color: #fff
    text-align: center
    flex-direction: column
    justify-content: center
    align-items: center
    h1
      font-size: 38px
      font-weight: 600
    p
      color: white
      padding: 0 20%
      font-size: 16px
      margin: 0
  &__btn
    width: 251px
    height: 61px
    background-color: #a4b9be
    border-radius: 3px
    border: none
    font-size: 21px 
    margin-top: 55px

// description

.description
  &__content
  padding-bottom: 170px
  background: url("../img/pen.png") no-repeat center 80%
  p
    max-width: 930px
    margin: 0 auto
    font-size: 18px
    color: #9fa4a7
    font-size: 16px
    font-weight: 400
    line-height: 24px
  h2
    color: #535a5e
    font-size: 38px
    font-weight: 700
    line-height: 70px

// slideshow
.slideshow
  background-color: #a4b9be
  &__content
    color: #f1f1f1
  h2
    color: #f1f1f1
    font-size: 38px
  p
    color: white
    font-size: 21px
    padding: 0 15%
  img
    max-width: 100%

.single-item
  display: flex
  margin: auto
  max-width: 868px


.slick-arrow
  width: 24px
  height: 42px
  background-color: transparent
  margin-top: 180px
  position: relative
.slick-arrow:hover 
  cursor: pointer

.prev
  margin-right: 3%
.next
  margin-left: 3%

// pricing
.pricing
  padding-bottom: 50px
  h2
    font-size: 30px
    font-weight: 700
    line-height: 70px
  p 
    display: flex
    margin: auto
    max-width: 605px
    font-size: 21px
    font-weight: 400
    line-height: 28px
    color: #98a0a5
  ul
    margin: 40px 0
  li 
    font-size: 21px
    line-height: 65px
  &__small
    margin-top: 30px
    p 
      display: flex
      margin: auto
      max-width: 363px
      color: #98a0a5
      font-size: 15px
      font-weight: 400
      line-height: 22px

.forever_free, .professional, .enterprise
  padding: 0 0 10px 0
  background-color: #e9eef2

.title
  padding: 20px 50px
  color: #e9eef2
  font-size: 30px
  font-weight: 300
.bold
  font-weight: 700

.btn_free, .btn_professional, .btn_enterprise
  font-size: 18px
  font-weight: 400
  padding: 18px 50px
  border: none
  width: 100%
  color: #e9eef2

.btn_free, .forever_free .title
  background-color: #535a5e

.btn_professional, .professional .title
  background-color: #58ad52

.btn_enterprise, .enterprise .title
  background-color: #53a1ad

.contact
  background-color: #2d3035
  padding-bottom: 80px
  h2
    color: #f1f1f1
    font-weight: 700
    font-size: 38px
  p
    color: #98a0a5
    max-width: 466px
    margin: auto
    font-size: 21px
    font-weight: 400
    margin-bottom: 50px

::-webkit-input-placeholder 
  color: #e9eef2
  font-size: 17px
  font-weight: 400
  line-height: 28px

.main_form
  display: flex
  flex-direction: column
  align-items: center

.form
  margin-bottom: 20px

input, textarea
  width: 400px
  color: white
  background: transparent
  border: 2px solid white
  border-radius: 3px
  text-indent: 12px

input
  height: 60px

textarea
  color: #fff
  height: 110px
  padding-top: 15px

.btn_send
  width: 400px
  height: 60px
  background-color: #a4b9be
  border-radius: 3px
  border: none
  color: #2d3035
  font-size: 18px
  font-weight: 700
  line-height: 28px

.media
  display: flex
  flex-direction: row
  justify-content: center
  margin-top: 35px

.social
  display: flex
  flex-direction: row
  padding: 0
  li 
    margin-left: 15px
.social img:hover
  opacity: 0.5

// footer
.footer
  display: flex
  flex-direction: row
  padding: 30px 0
  color: #535a5e
  font-size: 16px
  font-weight: 700
  &__nav
    ul
      display: flex
      flex-direction: row
      justify-content: center
      padding: 0
      a
        color: #535a5e
        margin-left: 15px

// nav toogle
aside
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0
  background: linear-gradient(200deg, #27156e, #6a2a88, #9f4981)
  opacity: 0
  visibility: hidden
  transition: all 0.5s ease
  z-index: 2

.open
  opacity: 1
  visibility: visible

.nav
  display: none
  i   
    color: #fff

nav
  text-align: center
  height: 95vh
  display: flex
  flex-direction: column
  justify-content: center
  ul
    margin: 0
    padding: 0
    list-style: none
    li
      align-items: center
      flex: 1
      line-height: 20vh
      a
        font-size: 1.5em
        transition: all 0.5s ease
        display: block
        text-decoration: none
        color: rgba(255, 255, 255, 0.5)
        &:hover
          color: rgba(255, 255, 255, 0.9)
          transform: scale(1.1)
          &:before
            visibility: visible
            transform: scaleX(1)
        &:before
          content: ""
          position: absolute
          width: 50%
          height: 2px
          bottom: 0
          left: 25%
          background: white
          visibility: hidden
          transform: scaleX(0)
          transition: all 0.3s ease-in-out 0s


nav ul li a
  font-size: 3em


.close
  position: fixed
  top: 40px
  right: 60px
  color: white
  z-index: 3
  cursor: pointer
  span
    border-radius: 4px
    height: 5px
    width: 35px
    background: white
    position: absolute
    display: block
    content: ''
    &:before, &:after
      border-radius: 4px
      height: 5px
      width: 35px
      background: white
      position: absolute
      display: block
      content: ''
    background: transparent
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)

.outer-close
  position: absolute
  right: 0
  top: 0
  width: 85px
  height: 85px
  cursor: pointer


@import 'media'