@import url(../libs/bootstrap.min.css);
@import url(../libs/font-awesome.min.css);
@import url(../libs/animate.min.css);
@import url(../libs/slick.css);
@import url(../libs/slick-theme.css);
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  color: #000;
  background: #ff0; }

small {
  font-size: 80%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0;
  color: inherit; }

button {
  overflow: visible;
  text-transform: none; }

select {
  text-transform: none; }

button, html input[type='button'] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type='reset'], input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

input {
  line-height: normal; }
  input::-moz-focus-inner {
    padding: 0;
    border: 0; }
  input[type='checkbox'], input[type='radio'] {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0; }
  input[type='number']::-webkit-inner-spin-button, input[type='number']::-webkit-outer-spin-button {
    height: auto; }
  input[type='search'] {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-appearance: textfield; }
    input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
      -webkit-appearance: none; }

fieldset {
  margin: 0 2px;
  padding: .35em .625em .75em;
  border: 1px solid #c0c0c0; }

legend {
  padding: 0;
  border: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

td, th {
  padding: 0; }

/* font-family: "RobotoLight";  */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  font-weight: normal;
  font-family: "RobotoLight", sans-serif;
  font-size: 14px;
  min-width: 320px;
  position: relative;
  line-height: 1.42857;
  -webkit-font-smoothing: antialised; }

input::-webkit-input-placeholder, input:-moz-placeholder {
  color: white; }

textarea::-webkit-input-placeholder, textarea:-moz-placeholder {
  color: white; }

section, footer {
  text-align: center;
  padding: 50px 0 0 0; }

ul {
  list-style: none; }

.hidden {
  display: none; }

.header {
  padding-top: 50px;
  background: url("../img/header.png") no-repeat top center;
  background-attachment: fixed;
  -webkit-background-size: cover;
          background-size: cover; }
  .header__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__top_logo {
      float: left; }
      .header__top_logo a {
        color: #ffffff;
        font-size: 48px;
        line-height: 70px;
        text-decoration: none;
        padding: 0; }
    .header__top_nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .header__top_nav ul li {
        display: inline-block;
        margin-left: 20px;
        font-size: 15px; }
        .header__top_nav ul li a {
          color: white;
          font-size: 16px;
          font-weight: 700;
          line-height: 28px; }
  .header__text {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 550px;
    color: #fff;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header__text h1 {
      font-size: 38px;
      font-weight: 600; }
    .header__text p {
      color: white;
      padding: 0 20%;
      font-size: 16px;
      margin: 0; }
  .header__btn {
    width: 251px;
    height: 61px;
    background-color: #a4b9be;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    border: none;
    font-size: 21px;
    margin-top: 55px; }

.description {
  padding-bottom: 170px;
  background: url("../img/pen.png") no-repeat center 80%; }
  .description p {
    max-width: 930px;
    margin: 0 auto;
    font-size: 18px;
    color: #9fa4a7;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }
  .description h2 {
    color: #535a5e;
    font-size: 38px;
    font-weight: 700;
    line-height: 70px; }

.slideshow {
  background-color: #a4b9be; }
  .slideshow__content {
    color: #f1f1f1; }
  .slideshow h2 {
    color: #f1f1f1;
    font-size: 38px; }
  .slideshow p {
    color: white;
    font-size: 21px;
    padding: 0 15%; }
  .slideshow img {
    max-width: 100%; }

.single-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  max-width: 868px; }

.slick-arrow {
  width: 24px;
  height: 42px;
  background-color: transparent;
  margin-top: 180px;
  position: relative; }

.slick-arrow:hover {
  cursor: pointer; }

.prev {
  margin-right: 3%; }

.next {
  margin-left: 3%; }

.pricing {
  padding-bottom: 50px; }
  .pricing h2 {
    font-size: 30px;
    font-weight: 700;
    line-height: 70px; }
  .pricing p {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    max-width: 605px;
    font-size: 21px;
    font-weight: 400;
    line-height: 28px;
    color: #98a0a5; }
  .pricing ul {
    margin: 40px 0; }
  .pricing li {
    font-size: 21px;
    line-height: 65px; }
  .pricing__small {
    margin-top: 30px; }
    .pricing__small p {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin: auto;
      max-width: 363px;
      color: #98a0a5;
      font-size: 15px;
      font-weight: 400;
      line-height: 22px; }

.forever_free, .professional, .enterprise {
  padding: 0 0 10px 0;
  background-color: #e9eef2; }

.title {
  padding: 20px 50px;
  color: #e9eef2;
  font-size: 30px;
  font-weight: 300; }

.bold {
  font-weight: 700; }

.btn_free, .btn_professional, .btn_enterprise {
  font-size: 18px;
  font-weight: 400;
  padding: 18px 50px;
  border: none;
  width: 100%;
  color: #e9eef2; }

.btn_free, .forever_free .title {
  background-color: #535a5e; }

.btn_professional, .professional .title {
  background-color: #58ad52; }

.btn_enterprise, .enterprise .title {
  background-color: #53a1ad; }

.contact {
  background-color: #2d3035;
  padding-bottom: 80px; }
  .contact h2 {
    color: #f1f1f1;
    font-weight: 700;
    font-size: 38px; }
  .contact p {
    color: #98a0a5;
    max-width: 466px;
    margin: auto;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 50px; }

::-webkit-input-placeholder {
  color: #e9eef2;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px; }

.main_form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.form {
  margin-bottom: 20px; }

input, textarea {
  width: 400px;
  color: white;
  background: transparent;
  border: 2px solid white;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  text-indent: 12px; }

input {
  height: 60px; }

textarea {
  color: #fff;
  height: 110px;
  padding-top: 15px; }

.btn_send {
  width: 400px;
  height: 60px;
  background-color: #a4b9be;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  border: none;
  color: #2d3035;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px; }

.media {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 35px; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0; }
  .social li {
    margin-left: 15px; }

.social img:hover {
  opacity: 0.5; }

.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 0;
  color: #535a5e;
  font-size: 16px;
  font-weight: 700; }
  .footer__nav ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0; }
    .footer__nav ul a {
      color: #535a5e;
      margin-left: 15px; }

aside {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: -webkit-linear-gradient(250deg, #27156e, #6a2a88, #9f4981);
  background: -o-linear-gradient(250deg, #27156e, #6a2a88, #9f4981);
  background: linear-gradient(200deg, #27156e, #6a2a88, #9f4981);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 2; }

.open {
  opacity: 1;
  visibility: visible; }

.nav {
  display: none; }
  .nav i {
    color: #fff; }

nav {
  text-align: center;
  height: 95vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    nav ul li {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      line-height: 20vh; }
      nav ul li a {
        font-size: 1.5em;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        display: block;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5); }
        nav ul li a:hover {
          color: rgba(255, 255, 255, 0.9);
          -webkit-transform: scale(1.1);
              -ms-transform: scale(1.1);
                  transform: scale(1.1); }
          nav ul li a:hover:before {
            visibility: visible;
            -webkit-transform: scaleX(1);
                -ms-transform: scaleX(1);
                    transform: scaleX(1); }
        nav ul li a:before {
          content: "";
          position: absolute;
          width: 50%;
          height: 2px;
          bottom: 0;
          left: 25%;
          background: white;
          visibility: hidden;
          -webkit-transform: scaleX(0);
              -ms-transform: scaleX(0);
                  transform: scaleX(0);
          -webkit-transition: all 0.3s ease-in-out 0s;
          -o-transition: all 0.3s ease-in-out 0s;
          transition: all 0.3s ease-in-out 0s; }

nav ul li a {
  font-size: 3em; }

.close {
  position: fixed;
  top: 40px;
  right: 60px;
  color: white;
  z-index: 3;
  cursor: pointer; }
  .close span {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
    background: transparent; }
    .close span:before, .close span:after {
      -webkit-border-radius: 4px;
              border-radius: 4px;
      height: 5px;
      width: 35px;
      background: white;
      position: absolute;
      display: block;
      content: ''; }
    .close span:before {
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
    .close span:after {
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }

.outer-close {
  position: absolute;
  right: 0;
  top: 0;
  width: 85px;
  height: 85px;
  cursor: pointer; }

@media (max-width: 480px) {
  input, textarea, .btn_send {
    width: 300px; }
  .top_mnu {
    text-align: center; }
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .header h1 {
      font-size: 30px; }
    .header__text p {
      padding: 0 10%;
      font-size: 18px; }
    .header__top_nav {
      display: none; }
  .nav {
    display: block; }
  .slick-arrow {
    margin-top: 67px; } }
